<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">

<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet"/>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
<script th:src="@{/js/jquery.tablesorter.min.js}" ></script>
<script>
$(document).ready(function(){
	$('#index-table').tablesorter();
});
</script>

<title th:text="#{order.index.title}">order.index.title</title>
</head>
<body>
<div class="sticky-top" style="background-color: white">
	<div class="headerNav">
		<!--  <div class="container">
			<div class="row headerNavBox">
			<a class="pull-left" href="http://www.comsize.co.jp"><img th:src="@{/images/comsize.png}" width=120px></a>
			<a style="color: #3366FF" class="col-xs-4 col-sm-2 headerNavBtn center" th:href="@{/customer}" th:text="#{customer.index.title}" ></a>
			<a style="color: #3366FF" class="col-xs-4 col-sm-2 headerNavBtn center" th:href="@{/goods}" th:text="#{goods.index.title}"></a>
			<a style="color: #3366FF" class="col-xs-4 col-sm-2 headerNavBtn center" th:href="@{/order}" th:text="#{order.index.title}"></a>
		</div>
		-->
	<div class="accordion-inner container">
    <div class="row">
    	<a class="pull-left" href="http://www.comsize.co.jp"><img th:src="@{/images/comsize.png}" width=120px></a>
        <div class="accordion-category-box  col-xs-4 center">
            <p class="accordion-category" style="color: #3366FF">顧客情報</p>
            <ul class="category">
                <li class="category-item"><a th:href="@{/customer}" th:text="#{customer.index.title}">小カテゴリa</a></li>
                <li class="category-item"><a th:href="@{/customer/create}" th:text="#{customer.create.title}">小カテゴリb</a></li>
            </ul>
        </div>
        <div class="accordion-category-box  col-xs-4 center">
            <p class="accordion-category" style="color: #3366FF">商品情報</p>
            <ul class="category">
                <li class="category-item"><a th:href="@{/goods}" th:text="#{goods.index.title}">小カテゴリa</a></li>
                <li class="category-item"><a th:href="@{/goods/create}" th:text="#{goods.create.title}">小カテゴリb</a></li>
            </ul>
        </div>
        <div class="accordion-category-box  col-xs-4 center">
            <p class="accordion-category" style="color: #3366FF">注文情報</p>
            <ul class="category">
                <li class="category-item"><a th:href="@{/order}" th:text="#{order.index.title}">小カテゴリa</a></li>
                <li class="category-item"><a th:href="@{/order/create}" th:text="#{order.create.title}">小カテゴリb</a></li>
            </ul>
        </div>
    </div>
    </div>
</div>
<script>
$('.accordion-category').click(function () {
    $(this).next().slideToggle(300);
});
</script>
	<div class="header"></div>
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xm-12 center">
			<div th:if="${errorMessage}"><p style="color: red"  th:text="${errorMessage}"></p></div>
			<div th:if="${emptyMessage}"><p style="color: red"  th:text="${emptyMessage}"></p></div>
			<div th:if="${deleteMessage}"><p style="color: red"  th:text="${deleteMessage}"></p></div>
		</div>
	</div>
</div>

<div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 title">
				<p th:text="#{order.index.title}" class="title"></p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<form class="form-inline" action="/order/search" th:action="@{/order/search}" method="post" th:object="${orderForm}">
			<div class= "form-group">
			<select class="form-control" name="key" th:field="*{key}" >
				<option value="order_no" th:text="#{order_no}"></option>
				<option value="goods_no" th:text="#{goods_no}"></option>
				<option value="cust_no" th:text="#{cust_no}"></option>
				<option value="order_numbers" th:text="#{order_numbers}"></option>
				<option value="order_date" th:text="#{order_date}"></option>
				<option value="store_no" th:text="#{store_no}"></option>
			</select>
			<span>
				<input type="text" class="form-control"  name="keyward"  th:field="*{keyword}" size="30" placeholder="キーワードを入力してください" />	
				<span>
					<input type="submit" class="btn btn-info" value="検索" />
				</span>
			</span>
			</div>
		</form>
		<a class="btn btn-primary right" th:href="@{/order/create}" th:text="#{order.create.title}"></a>
	</div>
</div>

<br>

<div class="container w-100 p-3">
<div class="row">
<div class="table-responsive">
	<table class="table table-hover table-sm" id="index-table">
		<thead>
			<tr class="table-info">
				<th th:text="#{order_no}"></th>
				<th th:text="#{goods_no}"></th>
				<th th:text="#{cust_no}"></th>
				<th th:text="#{order_numbers}"></th>
				<th th:text="#{order_date}"></th>
				<th th:text="#{store_no}"></th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="index : ${orderList}" th:object="${orderList}">
				<td>
					<a th:href="@{/order/{order_no}(order_no=${index.order_no})}" th:text="${index.order_no}"></a> 
				</td>
				<td th:text="${index.goods_no}"></td>
				<td th:text="${index.cust_no}"></td>
				<td th:text="${index.order_numbers}"></td>
				<td th:text="${index.order_date}"></td>
				<td th:text="${index.store_no}"></td>
			</tr>
		</tbody>
	</table>
</div>
</div>
</div>


</body>
</html>