@charset "UTF-8";
.header{
	border-top:1.5px solid #000;
}
ul,li {
  list-style: none; 
}
.accordion-category-wrap {
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
}
.accordion-category-box{
  width: 25%;
}
.accordion-category{
  padding: 4px;
 
}
.accordion-category::after{
  width: 8px;
  height: 8px;
  border: 0px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: -6px;
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -5px;
  
}
.category{
  width: 100%;
  flex-flow: wrap;

  margin:  auto;
  display: none;
}
.category-item{
  background-color: azure;
  padding: 4px;
  align-items: center;

}
.category-item a{
  width: 100%;
  display: block;
}
.center{
	display: block;
	margin: auto;
}
panel{
	width: 600px;
}
dl{
	width: 600px;
	
}

.title{
	font-size: 36px;
	width: auto;
	color: #555555;
	margin: 0.5em auto;
	display: block;
}
.headerNavBtn{
	text-align:center;
	height:2.5em;
	line-height:2.5em;
	color:#5F5F5F;
	font-size:14px;
}
.headerNavBtn:hover{
	background:#EEE;
}
.right{
	display: block;
	margin: 0 0 0 auto;
}
.left{
	display: block;
	margin-right: auto;
}
.tablesorter-headerUnSorted{
	background-image: url('images/sort.gif');
	background-repeat: no-repeat;
	background-position: center right;
}
.tablesorter-headerAsc{
	background-image: url('images/sort_a.gif');
	background-repeat: no-repeat;
	background-position: center right;
	border-bottom: #000 2px solid;
}
.tablesorter-headerDesc{
	background-image: url('images/sort_d.gif');
	background-repeat: no-repeat;
	background-position: center right;
	border-bottom: #000 2px solid;
}