<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.mapper.OrderMapper">

	<resultMap type="com.order.bean.OrderBean" id="order">
		<id column="order_no" property="order_no" />
		<result column="goods_no" property="goods_no" />
		<result column="cust_no" property="cust_no" />
		<result column="order_numbers" property="order_numbers" />
		<result column="order_date" property="order_date" />
		<result column="store_no" property="store_no" />
		<result column="update_date" property="update_date" />
	</resultMap>
	
	<resultMap type="com.order.bean.OrderForm" id="orderForm">
		<id column="order_no" property="order_no" />
		<result column="goods_no" property="goods_no" />
		<result column="cust_no" property="cust_no" />
		<result column="order_numbers" property="order_numbers" />
		<result column="order_date" property="order_date" />
		<result column="store_no" property="store_no" />
		<result column="update_date" property="update_date" />
	</resultMap>
	
	<select id="selectAllOrder"  resultMap="order">
		select * from orderinfo order by order_no
	</select>
	
	<insert id="insertOrder" parameterType="com.order.bean.OrderForm">
		insert into orderinfo values (#{order_no}, #{goods_no}, #{cust_no}, #{order_numbers}, #{order_date}, #{store_no}, getdate())
	</insert>
	
	<select id="selectByNumber" resultMap="order" parameterType="Integer">
		select * from orderinfo where order_no = #{order_no}
	</select>
	
	<delete id="deleteByNumber" parameterType="Integer">
		delete from orderinfo where order_no = #{order_no}
	</delete>
	
	<update id="updateOrder" parameterType="com.order.bean.OrderForm">
		update orderinfo set goods_no = #{goods_no}, cust_no = #{cust_no}, order_numbers = #{order_numbers}, order_date = #{order_date} , store_no = #{store_no}, update_date = getdate() where order_no = #{order_no}
	</update>
	
	<select id="createOrderForm" resultMap="orderForm" parameterType="Integer">
		select * from orderinfo where order_no = #{order_no}
	</select>
	
	<select id="selectByKeyword" resultMap="order" parameterType="com.order.bean.OrderForm">
		select * from orderinfo where ${key} like concat('%', '${keyword}', '%') order by order_no
	</select>
	
	<select id="updateTime" resultType="String" parameterType="String">
		select update_date from orderInfo where order_no = #{order_no}
	</select>

</mapper>